<div style="text-align: center;">
    <img src="../../img/Banner.png" alt="Banner" style="flex: 100%; text-align: center; padding-bottom: 2%;">

    <a class="buttonStyle" (click)="onHomePage = false" *ngIf="this.router.url == '/'"  [routerLink]="'/player-options'" >
        <img src="../../img/PlayerVsAIButton.png" alt="Player Vs Ai">
    </a>
    <a class="buttonStyle"  (click)="onHomePage = false" *ngIf="this.router.url == '/'"  [routerLink]="'/ai-vs-ai'" >
        <img src="../../img/AIVsAIButton.png" alt="Ai Vs Ai">
    </a>
</div>
